In [5]:
#with out list comprehension
numbers = [1,2,3]
doubled = []
for x in numbers:
    doubled.append(x*2)
print(doubled)

[2, 4, 6]

In [7]:
#by using list comprehension in above question
numbers = [1,2,3]
doubled = [x*2 for x in numbers]
print(doubled)

[2, 4, 6]

In [9]:
#another example with out list coprehension
friends = ["rolf", "sam", "jen"]
starts_s =[]
for friend in friends:
    if friend.startswith("s"):
        starts_s.append(friend)

print(starts_s)

['sam']

In [12]:
#above example with list comprehension
friends = ["rolf", "sam", "jen"]
starts_s =[friend for friend in friends if friend.startswith("s")]
print(starts_s)

['sam']

In [14]:
#disctionary comprehension
users = [
    (0, "bob","password"),
    (1,"forlf", "bolb123"),
    (2,"jose", "longpassword"),
    (3, "username", "123")
]

username_mapping ={user[1]:user for user in users}
print(username_mapping)

{'bob': (0, 'bob', 'password'), 'forlf': (1, 'forlf', 'bolb123'), 'jose': (2, 'jose', 'longpassword'), 'username': (3, 'username', '123')}

In [22]:
#lambda function
def add(x,y):
    return x+y
print((add(5,4)))

addlambda=lambda x,y:x+y
print(add(3,4))
print((lambda x,y: x+y) (9,1)) #(9,1 ) is passed to lambda function for this lambda is sorrounded by bracket()
sequence = [1,23,4]
doubled =[(lambda x:x*2)(x) for x in sequence]
print(doubled)

doubles = list(map(lambda x:x*2, sequence))
print(doubles)

9
7
10
[2, 46, 8]
[2, 46, 8]

In [13]:
#generate first 10 number
numbers =[i for i in range(0,10) ]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#Find all of the numbers from 1â€“1000 that have a 6 in them
have=[i for i in range(1,1000) if '6' in str(i)]
print(have)

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96, 106, 116, 126, 136, 146, 156, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 176, 186, 196, 206, 216, 226, 236, 246, 256, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 276, 286, 296, 306, 316, 326, 336, 346, 356, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 376, 386, 396, 406, 416, 426, 436, 446, 456, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 476, 486, 496, 506, 516, 526, 536, 546, 556, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 576, 586, 596, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 706, 716, 726, 736, 746, 756, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 776, 786, 796, 806, 816, 826, 836, 846, 856, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 876, 886, 896, 906, 916, 926, 936, 946, 956, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 976, 986, 996]

In [ ]:
#Count the number of spaces in a string (use string above)
string = "Practice Problems to Drill List Comprehension in Your Head."